---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'blog'>;

const { id, data } = Astro.props;
const { title, description, publishedAt, category } = data;
---

<article class='border rounded-lg'>
  <Image
    src={`/blog/image/${id}.png`}
    alt={title}
    width={600}
    height={315}
    fetchpriority='high'
    class='rounded-t-lg'
  />
  <section class='p-4 space-y-2'>
    <p class='text-sm'>{category.id}</p>
    <h2 class='text-xl'>{title}</h2>
    <p class='text-xs text-muted-foreground'>{description}</p>
  </section>
  <!--<time datetime={data.publishedAt.toISOString()}>-->
  <!--  {data.publishedAt.toLocaleDateString('ko-kr')}-->
  <!--</time>-->
</article>
