---
import { Image, type ImgAttributes } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'blog'> & Pick<ImgAttributes, 'fetchpriority'>;

const { id, data, fetchpriority = 'auto' } = Astro.props;
const { title, description, publishedAt, category } = data;
---

<section class='border rounded-lg'>
  <Image
    src={`/blog/image/${id}.png`}
    alt={title}
    width={600}
    height={315}
    fetchpriority={fetchpriority}
    class='rounded-t-lg'
  />
  <div class='p-4 space-y-2'>
    <p class='text-sm text-muted-foreground'>
      {category.id}
    </p>
    <h2 class='text-xl'>{title}</h2>
    <p class='text-sm'>{description}</p>
    <time datetime={publishedAt.toISOString()} class='text-xs text-muted-foreground'>
      {publishedAt.toLocaleDateString('ko-kr')}
    </time>
  </div>
</section>
